<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: mainHead"/>
<body>

<form action="/member/signup" method="post">
    <div class="row" align="center" style="width: 50%; margin: auto;">
        <div class="col">
            <p>ID :</p>
        </div>
        <div class="col">
            <input type="text" name="name">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>PW :</p>
        </div>
        <div class="col">
            <input type="password" name="pw">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="submit" value="submit">
        </div>
    </div>
</form>

</body>
</html>